.welcome{
    @include bgimg ('./img/fone.png');
    height: 100vh;
}
.login {
    position: absolute;
    top: 25px;
    right: 100px;
    border: solid white 2px;
    width: 180px;
    height: 45px;
}
.welcome__link {
    display: block;
    line-height: 45px;
    width: 100%;
    text-align: center;
}
.welcome_block {
    background-color: rgba(28, 31, 41, 0.5);
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -198px;
    margin-left: -192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 384px;
    height: 396px;
}
.social__item {
    width: 31px;
    height: 17px;
    margin-right: 27px;
    cursor: pointer;
    &:nth-of-type(3) {
        margin-right: 0px;
    }
}

.social__item {
    fill: black;
    &:hover {
        fill: #00bfa5;
    }
}

.welcome__user {
    margin-top: 25px;
}
.welcome__socials {
    width: 140px;
    margin-top: 35px;
}
.welcome__menu {
    height: 45px;
    width: 100%;
}
.welcome__menu-list {
    height: 100%;
    display: flex;
    justify-content: space-around;

}
.welcome__menu-items {
    text-align: center;
    line-height:45px;
    width: 100%;
    margin-right: rem(0px);
    background-color: $blue;
    border-right: solid rgba(222, 227, 231, 0.5) 2px;
    &:last-child {
        border: 0;
    }
    &:hover {
        background-color: $hover-blue;
    }
}