@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto/Roboto-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto/Roboto-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto/Roboto-LightItalic.ttf");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'FontAwesome';
    src: url("./fonts/FontAwesome.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansus';
    src: url("./fonts/Sansus-Webissimo-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@mixin roboto($weight, $style) {
	font-family: 'roboto';

	@if $weight == light {
		font-weight: lighter;
	}

	@if $weight == medium {
		font-weight: 500;
	}

	@if $weight == bold {
		font-weight: bold;
	}
	@if $weight == normal {
		font-weight: normal;
    }
    
    @if $style == normal {
        font-style: normal;
    }
    @if $style == italic {
        font-style: italic;
    }
}
